.playerPart {
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.playerSeed, .playerName {
  display: flex;
  align-items: center;
  writing-mode: sideways-lr;
  border-radius: inherit;
}

.playerSeed {
  height: 25px;
  background-color: #787a80;
  justify-content: center;
}

.playerName {
  flex-grow: 1;
  justify-content: left;
  background-color: #58595e;
  padding-bottom: 5px;
}

.invisblePlayer {
  color: transparent;
}

.topPlayer .playerSeed {
  border-radius: 0 0 0 5px;
}

.topPlayer .playerName {
  border-radius: 5px 0 0 0;
}

.bottomPlayer .playerSeed {
  border-radius: 0 0 5px 0;
}

.bottomPlayer .playerName {
  border-radius: 0 5px 0 0;
}
