<p>binary-tree works!</p>
<p> nbNodes : {{ this.nbNodes }} </p>
<p> depth : {{ this.depth }} </p>
<p> rounds : {{ this.rounds }} </p>
<p> maxBracketDepth : {{ this.maxBracketDepth }} </p>
<input (change)="this.changeNbNodes()" [(ngModel)]="this.nbNodes"/>

<!-- https://github.com/warisgeek/AngularBinaryTree -->
<div class="tree">
  <ul>

    <ng-template #recursiveList let-node>

      <li [class.isWinnerNode]="node.winner != undefined">
        <div class="node" [class.nodeDone]="node.winner !== undefined">
          <div class="playerWrapper">
            <div class="player" [class.isWinner]="node.winner === node.player1" *ngIf="node.player1.getName() !== ''">
              <app-tree-player [player]="node.player1" [canWin]="node.player1.getName() !== '' && node.player2.getName() !==''"
                               (playerWonEvent)="this.setWinner(node, $event)"></app-tree-player>
            </div>
            <span class="vertical-line" *ngIf="node.player1.getName() !== '' && node.player2.getName() !==''"></span>
            <div class="player" [class.isWinner]="node.winner === node.player2" *ngIf="node.player2.getName() !== ''">
              <app-tree-player [player]="node.player2" [canWin]="node.player1.getName() !== '' && node.player2.getName() !==''"
                               (playerWonEvent)="this.setWinner(node, $event)"></app-tree-player>
            </div>
          </div>
        </div>

        <ul *ngIf="node.rightChild !== undefined || node.leftChild !== undefined" [class.hasTwoWinnerNode]="node.leftChild && node.rightChild && node.leftChild.winner !== undefined && node.rightChild.winner !== undefined">
          <ng-template [ngIf]="node.leftChild !== undefined">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: node.leftChild }"></ng-container>
          </ng-template>
          <ng-template [ngIf]="node.rightChild !== undefined">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: node.rightChild }"></ng-container>
          </ng-template>
        </ul>
      </li>
    </ng-template>

    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: this.personalBracket }"></ng-container>

  </ul>
</div>
